body{
    /* background: rgb(151,255,144);
    background: linear-gradient(90deg, rgba(151,255,144,1) 0%, rgba(29,204,160,1) 50%, rgba(0,212,255,1) 100%);  */
    background-image: url("../static/Images/img2.jpg");
    background-position:initial;
    background-size: cover;
}

.leftLogin{
    margin-left: 10%;
    float: left;
    width: 40%;
    margin-top: 175px;
    color: white;
}

.top{
    height: 100%;
    /* background-image: url("../static/Images/img2.jpg"); */

    
    
}
.desc1{
    height: 40%;
    background-color: white;

}
